
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:forestgreen;font-size:45px;">
        <strong>ForestX</strong>
    </div>
    <div>
        <pre style="font-size:15px;">
            Dear @ViewBag.NewUserName,
                Please verify your email to complete the registration - Thank you.
                click <a href='@ViewBag.ConfirmationLink'>Here</a>
        </pre>
    </div>
</body>
</html>
